@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/mixins.scss';

main {
    width: 96%;
    margin: 0 auto;
    .display-container {
        box-sizing: border-box;
        border: solid #60666d;
        border-width: 10px 18px 20px;
        border-radius: 10px;
        border-bottom-left-radius: 7%;
        border-bottom-right-radius: 7%;
        .display-wrapper {
            height: 108px;
            border: 1px solid #7d7e7e;
            padding: 3px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            transform: scale(1.025);
            box-shadow: 0px 8px 10px $grey, -10px 8px 15px $grey, 10px 8px 15px $grey;
            background-color: #d7e1e2;
            overflow: hidden;
            .memory-sign {
                width: 20px;
                > span {
                    display: block;
                    transform: skew(-8deg);
                    text-shadow: 1px 1px;
                    visibility: hidden;
                    @include font-properties($font-size: 18px);
                    &:first-of-type { margin-bottom: 10px; }
                }
                &.show > span { visibility: visible; }
                .separator {
                    text-shadow: none;
                    @include font-properties($font-family: $displayDigits, $font-size: 48px, $line-height: 15px);
                }
            }
            .display-digits {
                margin-top: 12px;
                display: inline-block;
                transform: scale(.9, 1.4);
                @include font-properties($font-family: $displayDigits, $font-size: 80px, $line-height: 37px);
            }
        }
    }
}