//colors
$white: #fff;
$black: #000;
$grey: #808080;
$keyBlackBlackground: #393a41;
$keyBlackRedground: #8c5869;

//fonts
$displayDigits: 'digital-display-italic', sans-serif;
$system: 'system', sans-serif;